In [18]:
import pandas as pd
import numpy as np
import dataframe_image as dfi

In [2]:
data = pd.read_csv('Ardamine 2024.csv', header=1, index_col=0)
data

,00:00,00:30,01:00,01:30,02:00,02:30,03:00,03:30,04:00,04:30,...,19:00,19:30,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30
Date,,,,,,,,,,,,,,,,,,,,,
2024-01-01,1.077,1.077,0.778,0.206,0.011,0.010,0.022,0.024,0.010,0.010,...,0.037,0.010,0.010,0.011,0.020,0.026,0.010,0.010,0.359,0.964
2024-01-02,1.066,1.070,0.760,0.217,0.010,0.011,0.010,0.035,0.010,0.010,...,0.014,0.010,0.010,0.034,0.011,0.011,0.010,0.027,0.369,0.927
2024-01-03,1.058,1.082,0.778,0.195,0.010,0.030,0.016,0.010,0.010,0.027,...,0.012,0.010,0.010,0.031,0.015,0.010,0.010,0.011,0.387,0.932
2024-01-04,1.056,1.060,0.782,0.190,0.011,0.010,0.035,0.011,0.010,0.010,...,0.015,0.010,0.010,0.010,0.027,0.022,0.010,0.010,0.370,0.945
2024-01-05,1.094,1.068,0.758,0.189,0.014,0.034,0.011,0.010,0.010,0.010,...,0.009,0.033,0.015,0.010,0.010,0.010,0.023,0.027,0.370,0.946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-27,1.445,1.255,0.954,0.087,0.008,0.007,0.007,0.008,0.007,0.007,...,0.008,0.007,0.007,0.007,0.008,0.007,0.007,0.007,0.276,1.158
2024-12-28,1.560,1.114,0.885,0.208,0.007,0.007,0.008,0.007,0.007,0.007,...,0.008,0.007,0.007,0.008,0.007,0.007,0.008,0.007,0.281,1.190
2024-12-29,1.597,1.291,1.111,0.199,0.007,0.007,0.008,0.007,0.008,0.007,...,0.007,0.008,0.007,0.007,0.008,0.007,0.008,0.007,0.278,1.177
2024-12-30,1.590,1.143,0.923,0.579,0.007,0.008,0.007,0.008,0.007,0.007,...,0.008,0.007,0.008,0.007,0.007,0.008,0.007,0.007,0.268,1.152
2024-12-31,1.107,1.081,0.852,0.362,0.008,0.007,0.007,0.008,0.007,0.007,...,0.008,0.007,0.008,0.007,0.008,0.007,0.008,0.007,0.271,1.173

8am to 11pm is day rate

5pm to 7pm is peak rate

11pm to 8am is night rate

2am to 5am is ev rate

*2am to 6am for some rates

In [3]:
# group data by rates
day = data.iloc[:,16:34].join(data.iloc[:,38:46])
peak = data.iloc[:,34:38]
night = data.iloc[:,0:4].join(data.iloc[:,10:16]).join(data.iloc[:,46:49])
ev = data.iloc[:,4:10]

# account for second grouping
night2 = data.iloc[:,0:4].join(data.iloc[:,12:16]).join(data.iloc[:,46:49])
ev2 = data.iloc[:,4:12]

In [4]:
# total values per bracket
day_total = day.sum().sum()
peak_total = peak.sum().sum()
night_total = night.sum().sum()
ev_total = ev.sum().sum()

night2_total = night2.sum().sum()
ev2_total = ev2.sum().sum()

In [5]:
print(day_total)
print(peak_total)
print(night_total)
print(ev_total)

572.1949999999999
89.02199999999999
1418.306
86.565

In [6]:
# rates per band

rates = {
    "SSE EV": {
        "day": 0.3335,
        "peak": 0.4483,
        "night": 0.1889,
        "ev": 0.0729
    },
    "SSE 24": {
        "day": 0.2665,
        "peak": 0.2665,
        "night": 0.2665,
        "ev": 0.2665
    },
    "En S EV": {
        "day": 0.3461,
        "peak": 0.3784,
        "night": 0.1854,
        "ev": 0.0831
    },
    "En S Data": {
        "day": 0.2521,
        "peak": 0.2642,
        "night": 0.1349,
        "ev": 0.1349
    },
    "En S Drive": {
        "day": 0.3386,
        "peak": 0.3386,
        "night": 0.3386,
        "ev": 0.0754
    },
    "BG S EV DFD": {
        "day": 0.2922,
        "peak": 0.4075,
        "night": 0.2204,
        "ev": 0.0745
    },
    "En S Data DF": {
        "day": 0.2671,
        "peak": 0.2800,
        "night": 0.1430,
        "ev": 0.14300
    },
    "FG DF S": {
        "day": 0.2665,
        "peak": 0.3152,
        "night": 0.2077,
        "ev": 0.2077
    }
}

In [7]:
SSE_EV_total = rates['SSE EV']['day'] * day_total + rates['SSE EV']['peak'] * peak_total + rates['SSE EV']['night'] * night_total + rates['SSE EV']['ev'] * ev_total

SSE_EV_total

504.96418700000004

In [8]:
SSE_24_total = rates['SSE 24']['day'] * day_total + rates['SSE 24']['peak'] * peak_total + rates['SSE 24']['night'] * night_total + rates['SSE 24']['ev'] * ev_total

SSE_24_total

577.262452

In [9]:
EN_S_EV_total = rates['En S EV']['day'] * day_total + rates['En S EV']['peak'] * peak_total + rates['En S EV']['night'] * night2_total + rates['En S EV']['ev'] * ev2_total

EN_S_EV_total

494.9414215

In [10]:
EN_S_DATA_total = rates['En S Data']['day'] * day_total + rates['En S Data']['peak'] * peak_total + rates['En S Data']['night'] * night2_total + rates['En S Data']['ev'] * ev2_total

EN_S_DATA_total

370.77706979999994

In [11]:
EN_S_Drive_total = rates['En S Drive']['day'] * day_total + rates['En S Drive']['peak'] * peak_total + rates['En S Drive']['night'] * night2_total + rates['En S Drive']['ev'] * ev2_total

EN_S_Drive_total

692.8272159999999

In [12]:
BG_S_EV_DFD_total = rates['BG S EV DFD']['day'] * day_total + rates['BG S EV DFD']['peak'] * peak_total + rates['BG S EV DFD']['night'] * night2_total + rates['BG S EV DFD']['ev'] * ev2_total

BG_S_EV_DFD_total

512.6339178000001

In [13]:
EN_S_DATA_DF_total = rates['En S Data DF']['day'] * day_total + rates['En S Data DF']['peak'] * peak_total + rates['En S Data DF']['night'] * night2_total + rates['En S Data DF']['ev'] * ev2_total

EN_S_DATA_DF_total

392.95599749999997

In [14]:
FG_DF_S_total = rates['FG DF S']['day'] * day_total + rates['FG DF S']['peak'] * peak_total + rates['FG DF S']['night'] * night2_total + rates['FG DF S']['ev'] * ev2_total

FG_DF_S_total

493.1114086

In [15]:
d = {'SSE EV':[f"{SSE_EV_total:.2f}"],
     'SSE 24':[f"{SSE_24_total:.2f}"],
     'En S Data':[f"{EN_S_DATA_total:.2f}"],
     'En S Drive':[f"{EN_S_Drive_total:.2f}"],
     'BG S EV DFD':[f"{BG_S_EV_DFD_total:.2f}"],
     'En S Data DF':[f"{EN_S_DATA_DF_total:.2f}"],
     'FG DF S':[f"{FG_DF_S_total:.2f}"]   
}

df = pd.DataFrame(data=d).T.rename(columns={0:'Cost'})

df

                Cost
SSE EV        504.96
SSE 24        577.26
En S Data     370.78
En S Drive    692.83
BG S EV DFD   512.63
En S Data DF  392.96
FG DF S       493.11