In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('electricity.csv', header=1, index_col=0)
data

,00:00,00:30,01:00,01:30,02:00,02:30,03:00,03:30,04:00,04:30,...,19:00,19:30,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30
Date,,,,,,,,,,,,,,,,,,,,,
2024-01-24,0.1160,0.0725,0.0730,0.0940,0.0950,0.0500,0.0580,0.0610,0.0905,0.0755,...,0.1585,0.1610,0.3065,0.1450,0.1525,0.1840,0.1975,0.1545,0.0960,0.0865
2024-01-25,0.1110,0.1150,0.0855,0.0630,0.0525,0.0440,0.0810,0.0675,0.0620,0.0620,...,0.0030,0.0030,0.0565,0.1370,0.0995,0.2190,0.1350,0.1435,0.1390,0.0975
2024-01-26,0.0605,0.0845,0.0950,0.0925,0.6900,0.7425,0.6500,0.3515,0.3775,0.2095,...,0.1640,0.0930,0.0945,0.1465,0.1265,0.1010,0.2290,0.1215,0.1675,0.0540
2024-01-27,0.0465,0.0455,0.0705,0.0800,0.6770,0.7330,0.6480,0.3710,0.1545,0.0495,...,0.0030,0.0030,0.0030,0.0030,0.0030,0.0030,0.0040,0.0040,0.0035,0.0145
2024-01-28,0.0815,0.0730,0.0735,0.1050,0.7470,0.7410,0.6205,0.3410,0.2340,0.1065,...,0.0000,0.0000,0.0000,0.1230,0.2090,0.2565,0.1130,0.1430,0.1290,0.1080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-01-20,0.0835,0.0745,0.0490,0.0745,0.6900,0.7275,0.6490,0.3505,0.1600,0.0600,...,0.1115,0.1255,0.1090,0.0885,0.1180,0.0890,0.0715,0.0945,0.0680,0.0705
2025-01-21,0.2180,0.0690,0.0495,0.0960,0.6750,0.7280,0.7050,0.3305,0.1890,0.0925,...,0.0040,0.1215,0.0040,0.0035,0.0035,0.0650,0.0040,0.0370,0.0905,0.1085
2025-01-22,0.0715,0.0570,0.0730,0.0870,0.6720,0.7330,0.6580,0.3335,0.1720,0.0845,...,0.0035,0.0380,0.0615,0.0920,0.0580,0.0460,0.0815,0.2320,0.1080,0.1080
2025-01-23,0.0750,0.0640,0.0915,0.0735,0.6790,0.7525,0.6660,0.3340,0.1770,0.0810,...,0.1330,0.1530,0.0040,0.0040,0.0035,0.0035,0.0040,0.0040,0.1185,0.1485
2025-01-24,0.0795,0.0605,0.0745,0.0935,0.6830,0.7355,0.6565,0.3495,0.1485,0.0735,...,0.0035,0.0030,0.0030,0.0030,0.0035,0.0035,0.0035,0.0675,0.0890,0.1590

8am to 11pm is day rate

5pm to 7pm is peak rate

11pm to 8am is night rate

2am to 5am is ev rate

*2am to 6am for some rates

In [3]:
# group data by rates
day = data.iloc[:,16:34].join(data.iloc[:,38:46])
peak = data.iloc[:,34:38]
night = data.iloc[:,0:4].join(data.iloc[:,10:16]).join(data.iloc[:,46:49])
ev = data.iloc[:,4:10]

# account for second grouping
night2 = data.iloc[:,0:4].join(data.iloc[:,12:16]).join(data.iloc[:,46:49])
ev2 = data.iloc[:,4:12]

In [4]:
# total values per bracket
day_total = day.sum().sum()
peak_total = peak.sum().sum()
night_total = night.sum().sum()
ev_total = ev.sum().sum()

night2_total = night2.sum().sum()
ev2_total = ev2.sum().sum()

In [5]:
print(day_total)
print(peak_total)
print(night_total)
print(ev_total)

289.832
50.384499999999996
188.44400000000002
462.8085

In [6]:
# rates per band

rates = {
    "SSE EV": {
        "day": 0.3335,
        "peak": 0.4483,
        "night": 0.1889,
        "ev": 0.0729
    },
    "SSE 24": {
        "day": 0.2665,
        "peak": 0.2665,
        "night": 0.2665,
        "ev": 0.2665
    },
    "En S EV": {
        "day": 0.3461,
        "peak": 0.3784,
        "night": 0.1854,
        "ev": 0.0831
    },
    "En S Data": {
        "day": 0.2521,
        "peak": 0.2642,
        "night": 0.1349,
        "ev": 0.1349
    },
    "En S Drive": {
        "day": 0.3386,
        "peak": 0.3386,
        "night": 0.3386,
        "ev": 0.0754
    },
    "BG S EV DFD": {
        "day": 0.2922,
        "peak": 0.4075,
        "night": 0.2204,
        "ev": 0.0745
    },
    "En S Data DF": {
        "day": 0.2671,
        "peak": 0.2800,
        "night": 0.1430,
        "ev": 0.14300
    },
    "FG DF S": {
        "day": 0.2665,
        "peak": 0.3152,
        "night": 0.2077,
        "ev": 0.2077
    },
    "2024": {
        "day": 0.3655,
        "peak": 0.3655,
        "night": 0.3655,
        "ev": 0.0814 
    }
}

In [7]:
SSE_EV_total = rates['SSE EV']['day'] * day_total + rates['SSE EV']['peak'] * peak_total + rates['SSE EV']['night'] * night_total + rates['SSE EV']['ev'] * ev_total

SSE_EV_total

188.58215460000002

In [8]:
SSE_24_total = rates['SSE 24']['day'] * day_total + rates['SSE 24']['peak'] * peak_total + rates['SSE 24']['night'] * night_total + rates['SSE 24']['ev'] * ev_total

SSE_24_total

264.2264885

In [9]:
EN_S_EV_total = rates['En S EV']['day'] * day_total + rates['En S EV']['peak'] * peak_total + rates['En S EV']['night'] * night2_total + rates['En S EV']['ev'] * ev2_total

EN_S_EV_total

188.1891398

In [10]:
EN_S_DATA_total = rates['En S Data']['day'] * day_total + rates['En S Data']['peak'] * peak_total + rates['En S Data']['night'] * night2_total + rates['En S Data']['ev'] * ev2_total

EN_S_DATA_total

174.23219435

In [11]:
EN_S_Drive_total = rates['En S Drive']['day'] * day_total + rates['En S Drive']['peak'] * peak_total + rates['En S Drive']['night'] * night2_total + rates['En S Drive']['ev'] * ev2_total

EN_S_Drive_total

202.1060826

In [12]:
BG_S_EV_DFD_total = rates['BG S EV DFD']['day'] * day_total + rates['BG S EV DFD']['peak'] * peak_total + rates['BG S EV DFD']['night'] * night2_total + rates['BG S EV DFD']['ev'] * ev2_total

BG_S_EV_DFD_total

174.69503304999998

In [13]:
EN_S_DATA_DF_total = rates['En S Data DF']['day'] * day_total + rates['En S Data DF']['peak'] * peak_total + rates['En S Data DF']['night'] * night2_total + rates['En S Data DF']['ev'] * ev2_total

EN_S_DATA_DF_total

184.65089469999998

In [14]:
FG_DF_S_total = rates['FG DF S']['day'] * day_total + rates['FG DF S']['peak'] * peak_total + rates['FG DF S']['night'] * night2_total + rates['FG DF S']['ev'] * ev2_total

FG_DF_S_total

228.38656665

In [15]:
olr2024 = rates['2024']['day'] * day_total + rates['2024']['peak'] * peak_total + rates['2024']['night'] * night2_total + rates['2024']['ev'] * ev2_total

olr2024

218.1673616

In [16]:
d = {'SSE EV':[f"{SSE_EV_total:.2f}"],
     'SSE 24':[f"{SSE_24_total:.2f}"],
     'En S Data':[f"{EN_S_DATA_total:.2f}"],
     'En S Drive':[f"{EN_S_Drive_total:.2f}"],
     'BG S EV DFD':[f"{BG_S_EV_DFD_total:.2f}"],
     'En S Data DF':[f"{EN_S_DATA_DF_total:.2f}"],
     'FG DF S':[f"{FG_DF_S_total:.2f}"]   
}

df = pd.DataFrame(data=d).T.rename(columns={0:'Cost'})

df

                Cost
SSE EV        188.58
SSE 24        264.23
En S Data     174.23
En S Drive    202.11
BG S EV DFD   174.70
En S Data DF  184.65
FG DF S       228.39